In [1]:
# Dependencies
import pandas as pd
import pathlib

In [2]:
# Name of the CSV file
movies_file = pathlib.Path('Resources/IMDb_movies/IMDB movies.csv')

In [3]:
# Read and display the CSV with Pandas
movies_df = pd.read_csv(movies_file)
movies_df.head()

C:\Users\grace\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [4]:
movies_df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [5]:

# Most values are missing (blank), therefore column must be dropped in order not to loose any significant data 
movies_df['metascore'].isna().sum()

72550

In [6]:

# Delete dropping columns that found to be irrelevant for analysis or have too many missing values. 
movies_df_removed = movies_df.drop(['description','metascore','writer','duration','production_company','budget','title','language'],axis=1)
               #'metascore','writer','duration','production_company','budget','title','language')
movies_df_removed.head()

,imdb_title_id,original_title,year,date_published,genre,country,director,actors,avg_vote,votes,usa_gross_income,worlwide_gross_income,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,1894,1894-10-09,Romance,USA,Alexander Black,"Blanche Bayliss, William Courtenay, Chauncey D...",5.9,154,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",Australia,Charles Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",6.1,589,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,1911,1911-08-19,Drama,"Germany, Denmark",Urban Gad,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",5.8,188,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,1912,1912-11-13,"Drama, History",USA,Charles L. Gaskill,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",5.2,446,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",Italy,"Francesco Bertolini, Adolfo Padovan","Salvatore Papa, Arturo Pirovano, Giuseppe de L...",7.0,2237,NaN,NaN,31.0,14.0

In [7]:
# Set new index to 	imdb_title_id

movies_df_removed_index = movies_df_removed.set_index("imdb_title_id")

movies_df_removed_index.head()

,original_title,year,date_published,genre,country,director,actors,avg_vote,votes,usa_gross_income,worlwide_gross_income,reviews_from_users,reviews_from_critics
imdb_title_id,,,,,,,,,,,,,
tt0000009,Miss Jerry,1894,1894-10-09,Romance,USA,Alexander Black,"Blanche Bayliss, William Courtenay, Chauncey D...",5.9,154,NaN,NaN,1.0,2.0
tt0000574,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",Australia,Charles Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",6.1,589,NaN,NaN,7.0,7.0
tt0001892,Den sorte drøm,1911,1911-08-19,Drama,"Germany, Denmark",Urban Gad,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",5.8,188,NaN,NaN,5.0,2.0
tt0002101,Cleopatra,1912,1912-11-13,"Drama, History",USA,Charles L. Gaskill,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",5.2,446,NaN,NaN,25.0,3.0
tt0002130,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",Italy,"Francesco Bertolini, Adolfo Padovan","Salvatore Papa, Arturo Pirovano, Giuseppe de L...",7.0,2237,NaN,NaN,31.0,14.0

In [8]:
movies_df_removed_index[['worlwide_gross_income','usa_gross_income']].isna().sum()

worlwide_gross_income    54839
usa_gross_income         70529
dtype: int64

In [9]:
# Replacing value in year column and changing data type to integer
movies_df_removed_index['year'] = movies_df_removed_index['year'].replace(['TV Movie 2019'],'2019')
movies_df_removed_index['year'] = movies_df_removed_index['year'].astype('int64')

In [10]:
movies_df_removed_index['date_published'] = movies_df_removed_index['date_published'].replace(['TV Movie 2019'],'2019')
movies_df_removed_index['date_published'] = movies_df_removed_index['date_published'].astype('datetime64[ns]')

In [11]:
# Filter based on years range from 1970 to 2020. 
movies_df_removed_index_1970 = movies_df_removed_index[(movies_df_removed_index['year']>=1970) & (movies_df_removed_index['year']<=2020)] 
movies_df_removed_index_1970

,original_title,year,date_published,genre,country,director,actors,avg_vote,votes,usa_gross_income,worlwide_gross_income,reviews_from_users,reviews_from_critics
imdb_title_id,,,,,,,,,,,,,
tt0017938,La glace à trois faces,1983,1983-03-13,"Drama, Romance",France,Jean Epstein,"Jeanne Helbling, Suzy Pierson, Olga Day, Raymo...",7.0,759,NaN,NaN,7.0,4.0
tt0035423,Kate & Leopold,2001,2002-03-01,"Comedy, Fantasy, Romance",USA,James Mangold,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",6.4,77852,$ 47121859,$ 76019048,341.0,115.0
tt0036606,"Another Time, Another Place",1983,1983-07-15,"Drama, War",UK,Michael Radford,"Phyllis Logan, Giovanni Mauriello, Gianluca Fa...",6.5,252,NaN,NaN,3.0,10.0
tt0039442,"Habla, mudita",1973,1973-06-01,Drama,"Spain, West Germany",Manuel Gutiérrez Aragón,"José Luis López Vázquez, Kiti Mánver, Francisc...",6.2,128,NaN,NaN,2.0,NaN
tt0054724,Zombie,1971,1971-10-29,Horror,USA,Del Tenney,"William Joyce, Heather Hewitt, Walter Coy, Dan...",3.5,1214,NaN,NaN,56.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt9908390,Le lion,2020,2020-01-29,Comedy,"France, Belgium",Ludovic Colbeau-Justin,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",5.3,398,NaN,$ 3507171,NaN,4.0
tt9911196,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",Netherlands,Johan Nijenhuis,"Herman Finkers, Johanna ter Steege, Leonie ter...",7.7,724,NaN,$ 7299062,6.0,4.0
tt9911774,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,India,Vineesh Aaradya,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",7.9,265,NaN,NaN,NaN,NaN
tt9914286,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",Turkey,Ahmet Faik Akinci,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",6.4,194,NaN,$ 2833,NaN,NaN
tt9914942,La vida sense la Sara Amat,2019,2020-02-05,Drama,Spain,Laura Jou,"Maria Morera Colomer, Biel Rossell Pelfort, Is...",6.7,102,NaN,$ 59794,NaN,2.0

In [12]:
movies_df_removed_index_1970[['worlwide_gross_income','usa_gross_income']].isna().sum()

worlwide_gross_income    39910
usa_gross_income         55655
dtype: int64

In [13]:
# split genre AND Country by comma delimiter and select first word
# converting currencies to USD and then replace NA with average.

In [14]:
genre_split = movies_df_removed_index_1970["genre"].str.split(",", n=1, expand = True)
movies_df_removed_index_1970["genre_split"] = genre_split[0]
movies_df_removed_index_1970.columns

<ipython-input-14-c2fa17bf56dc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df_removed_index_1970["genre_split"] = genre_split[0]

Index(['original_title', 'year', 'date_published', 'genre', 'country',
       'director', 'actors', 'avg_vote', 'votes', 'usa_gross_income',
       'worlwide_gross_income', 'reviews_from_users', 'reviews_from_critics',
       'genre_split'],
      dtype='object')

In [15]:
movies_df_removed_index_1970 = movies_df_removed_index_1970.drop(['country','genre'], axis = 1)

In [16]:
# country_split = movies_df_removed_index_1970["country"].str.split(",", n=1, expand = True)
# movies_df_removed_index_1970["country_split"] = country_split[0]
# movies_df_removed_index_1970.head()

movies_df_removed_index_1970

In [17]:
movies_df_removed_index_1970.head()

,original_title,year,date_published,director,actors,avg_vote,votes,usa_gross_income,worlwide_gross_income,reviews_from_users,reviews_from_critics,genre_split
imdb_title_id,,,,,,,,,,,,
tt0017938,La glace à trois faces,1983,1983-03-13,Jean Epstein,"Jeanne Helbling, Suzy Pierson, Olga Day, Raymo...",7.0,759,NaN,NaN,7.0,4.0,Drama
tt0035423,Kate & Leopold,2001,2002-03-01,James Mangold,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",6.4,77852,$ 47121859,$ 76019048,341.0,115.0,Comedy
tt0036606,"Another Time, Another Place",1983,1983-07-15,Michael Radford,"Phyllis Logan, Giovanni Mauriello, Gianluca Fa...",6.5,252,NaN,NaN,3.0,10.0,Drama
tt0039442,"Habla, mudita",1973,1973-06-01,Manuel Gutiérrez Aragón,"José Luis López Vázquez, Kiti Mánver, Francisc...",6.2,128,NaN,NaN,2.0,NaN,Drama
tt0054724,Zombie,1971,1971-10-29,Del Tenney,"William Joyce, Heather Hewitt, Walter Coy, Dan...",3.5,1214,NaN,NaN,56.0,40.0,Horror

In [18]:
movies_df_removed_index_1970["worlwide_gross_income"].value_counts()

$ 8144        13
$ 509          7
$ 97182        6
$ 2874         5
$ 14000000     5
              ..
$ 4447734      1
$ 46405336     1
$ 19735344     1
$ 67893619     1
$ 3730         1
Name: worlwide_gross_income, Length: 29840, dtype: int64

In [19]:
movies_df_removed_index_1970["worlwide_gross_income"].describe()

count      30354
unique     29840
top       $ 8144
freq          13
Name: worlwide_gross_income, dtype: object

In [20]:
#movies_df_removed_index_1970["worlwide_gross_income"] = movies_df_removed_index_1970["worlwide_gross_income"].str.replace(',','').str.replace('$/INR','').astype('float')

In [21]:
#movies_df_removed_index_1970["worlwide_gross_income"] = movies_df_removed_index_1970["worlwide_gross_income"].str.startswith("$")
movies_df_removed_index_1970["worlwide_gross_income"] = movies_df_removed_index["worlwide_gross_income"]

In [22]:
movies_df_removed_index_1970.head()

,original_title,year,date_published,director,actors,avg_vote,votes,usa_gross_income,worlwide_gross_income,reviews_from_users,reviews_from_critics,genre_split
imdb_title_id,,,,,,,,,,,,
tt0017938,La glace à trois faces,1983,1983-03-13,Jean Epstein,"Jeanne Helbling, Suzy Pierson, Olga Day, Raymo...",7.0,759,NaN,NaN,7.0,4.0,Drama
tt0035423,Kate & Leopold,2001,2002-03-01,James Mangold,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",6.4,77852,$ 47121859,$ 76019048,341.0,115.0,Comedy
tt0036606,"Another Time, Another Place",1983,1983-07-15,Michael Radford,"Phyllis Logan, Giovanni Mauriello, Gianluca Fa...",6.5,252,NaN,NaN,3.0,10.0,Drama
tt0039442,"Habla, mudita",1973,1973-06-01,Manuel Gutiérrez Aragón,"José Luis López Vázquez, Kiti Mánver, Francisc...",6.2,128,NaN,NaN,2.0,NaN,Drama
tt0054724,Zombie,1971,1971-10-29,Del Tenney,"William Joyce, Heather Hewitt, Walter Coy, Dan...",3.5,1214,NaN,NaN,56.0,40.0,Horror

In [23]:
def clean_currency(currency: str) -> float:
    try:
        if currency[0].isnumeric():
            try:
                float_value = float(currency)
            except Exception as e:
                print(e)
        else:
            if currency[2].isnumeric():
                float_value = float(currency[2:].replace(',', ''))
            else:
                float_value = float(currency[4:].replace(',', '')) 
    except TypeError:
        float_value = float(currency)
    return float_value

movies_df_removed_index_1970["worlwide_gross_income"] = movies_df_removed_index_1970["worlwide_gross_income"].apply(clean_currency)


#movies_df_removed_index_1970["worlwide_gross_income"] = movies_df_removed_index_1970["worlwide_gross_income"].str.replace(',','').str.replace('$','').astype('float')

In [24]:
movies_df_removed_index_1970

,original_title,year,date_published,director,actors,avg_vote,votes,usa_gross_income,worlwide_gross_income,reviews_from_users,reviews_from_critics,genre_split
imdb_title_id,,,,,,,,,,,,
tt0017938,La glace à trois faces,1983,1983-03-13,Jean Epstein,"Jeanne Helbling, Suzy Pierson, Olga Day, Raymo...",7.0,759,NaN,NaN,7.0,4.0,Drama
tt0035423,Kate & Leopold,2001,2002-03-01,James Mangold,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",6.4,77852,$ 47121859,76019048.0,341.0,115.0,Comedy
tt0036606,"Another Time, Another Place",1983,1983-07-15,Michael Radford,"Phyllis Logan, Giovanni Mauriello, Gianluca Fa...",6.5,252,NaN,NaN,3.0,10.0,Drama
tt0039442,"Habla, mudita",1973,1973-06-01,Manuel Gutiérrez Aragón,"José Luis López Vázquez, Kiti Mánver, Francisc...",6.2,128,NaN,NaN,2.0,NaN,Drama
tt0054724,Zombie,1971,1971-10-29,Del Tenney,"William Joyce, Heather Hewitt, Walter Coy, Dan...",3.5,1214,NaN,NaN,56.0,40.0,Horror
...,...,...,...,...,...,...,...,...,...,...,...,...
tt9908390,Le lion,2020,2020-01-29,Ludovic Colbeau-Justin,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",5.3,398,NaN,3507171.0,NaN,4.0,Comedy
tt9911196,De Beentjes van Sint-Hildegard,2020,2020-02-13,Johan Nijenhuis,"Herman Finkers, Johanna ter Steege, Leonie ter...",7.7,724,NaN,7299062.0,6.0,4.0,Comedy
tt9911774,Padmavyuhathile Abhimanyu,2019,2019-03-08,Vineesh Aaradya,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",7.9,265,NaN,NaN,NaN,NaN,Drama
tt9914286,Sokagin Çocuklari,2019,2019-03-15,Ahmet Faik Akinci,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",6.4,194,NaN,2833.0,NaN,NaN,Drama
tt9914942,La vida sense la Sara Amat,2019,2020-02-05,Laura Jou,"Maria Morera Colomer, Biel Rossell Pelfort, Is...",6.7,102,NaN,59794.0,NaN,2.0,Drama

In [25]:
movies_df_removed_index_1970["usa_gross_income"] = movies_df_removed_index_1970["usa_gross_income"].apply(clean_currency)

In [26]:
movies_df_removed_index_1970.head()

,original_title,year,date_published,director,actors,avg_vote,votes,usa_gross_income,worlwide_gross_income,reviews_from_users,reviews_from_critics,genre_split
imdb_title_id,,,,,,,,,,,,
tt0017938,La glace à trois faces,1983,1983-03-13,Jean Epstein,"Jeanne Helbling, Suzy Pierson, Olga Day, Raymo...",7.0,759,NaN,NaN,7.0,4.0,Drama
tt0035423,Kate & Leopold,2001,2002-03-01,James Mangold,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",6.4,77852,47121859.0,76019048.0,341.0,115.0,Comedy
tt0036606,"Another Time, Another Place",1983,1983-07-15,Michael Radford,"Phyllis Logan, Giovanni Mauriello, Gianluca Fa...",6.5,252,NaN,NaN,3.0,10.0,Drama
tt0039442,"Habla, mudita",1973,1973-06-01,Manuel Gutiérrez Aragón,"José Luis López Vázquez, Kiti Mánver, Francisc...",6.2,128,NaN,NaN,2.0,NaN,Drama
tt0054724,Zombie,1971,1971-10-29,Del Tenney,"William Joyce, Heather Hewitt, Walter Coy, Dan...",3.5,1214,NaN,NaN,56.0,40.0,Horror

In [27]:
# movies_df_removed_index_1970['worlwide_gross_income'] = movies_df_removed_index_1970['worlwide_gross_income'].fillna(movies_df_removed_index_1970['worlwide_gross_income'].mean())

In [28]:
# movies_df_removed_index_1970['usa_gross_income'] = movies_df_removed_index_1970['usa_gross_income'].fillna(movies_df_removed_index_1970['usa_gross_income'].mean())

In [29]:
# movies_df_removed_index_1970["date_published"]

In [30]:
# Name of the CSV file
ratings_file = pathlib.Path('Resources/IMDb_ratings/IMDB ratings.csv')

In [31]:
# Read and display the CSV with Pandas
ratings_df = pd.read_csv(ratings_file)
ratings_df.head()

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [32]:
ratings_df.columns

Index(['imdb_title_id', 'weighted_average_vote', 'total_votes', 'mean_vote',
       'median_vote', 'votes_10', 'votes_9', 'votes_8', 'votes_7', 'votes_6',
       'votes_5', 'votes_4', 'votes_3', 'votes_2', 'votes_1',
       'allgenders_0age_avg_vote', 'allgenders_0age_votes',
       'allgenders_18age_avg_vote', 'allgenders_18age_votes',
       'allgenders_30age_avg_vote', 'allgenders_30age_votes',
       'allgenders_45age_avg_vote', 'allgenders_45age_votes',
       'males_allages_avg_vote', 'males_allages_votes', 'males_0age_avg_vote',
       'males_0age_votes', 'males_18age_avg_vote', 'males_18age_votes',
       'males_30age_avg_vote', 'males_30age_votes', 'males_45age_avg_vote',
       'males_45age_votes', 'females_allages_avg_vote',
       'females_allages_votes', 'females_0age_avg_vote', 'females_0age_votes',
       'females_18age_avg_vote', 'females_18age_votes',
       'females_30age_avg_vote', 'females_30age_votes',
       'females_45age_avg_vote', 'females_45age_votes',
       'top1000_voters_rating', 'top1000_voters_votes', 'us_voters_rating',
       'us_voters_votes', 'non_us_voters_rating', 'non_us_voters_votes'],
      dtype='object')

In [33]:
# Drop individual votes
ratings_df_removed = ratings_df.drop(['votes_10', 'votes_9', 'votes_8', 'votes_7', 'votes_6','votes_5', 'votes_4', 'votes_3', 'votes_2', 'votes_1'],axis=1)

In [34]:
ratings_df_removed.columns

Index(['imdb_title_id', 'weighted_average_vote', 'total_votes', 'mean_vote',
       'median_vote', 'allgenders_0age_avg_vote', 'allgenders_0age_votes',
       'allgenders_18age_avg_vote', 'allgenders_18age_votes',
       'allgenders_30age_avg_vote', 'allgenders_30age_votes',
       'allgenders_45age_avg_vote', 'allgenders_45age_votes',
       'males_allages_avg_vote', 'males_allages_votes', 'males_0age_avg_vote',
       'males_0age_votes', 'males_18age_avg_vote', 'males_18age_votes',
       'males_30age_avg_vote', 'males_30age_votes', 'males_45age_avg_vote',
       'males_45age_votes', 'females_allages_avg_vote',
       'females_allages_votes', 'females_0age_avg_vote', 'females_0age_votes',
       'females_18age_avg_vote', 'females_18age_votes',
       'females_30age_avg_vote', 'females_30age_votes',
       'females_45age_avg_vote', 'females_45age_votes',
       'top1000_voters_rating', 'top1000_voters_votes', 'us_voters_rating',
       'us_voters_votes', 'non_us_voters_rating', 'non_us_voters_votes'],
      dtype='object')

In [35]:
# [column
#         for column in ratings_df_removed.columns
#              if ('females' in column) and ('avg' not in column)
#     ]

In [36]:
[column
        for column in ratings_df_removed.columns
             if (column.startswith('males')) and ('avg' not in column)]

['males_allages_votes',
 'males_0age_votes',
 'males_18age_votes',
 'males_30age_votes',
 'males_45age_votes']

In [43]:
ratings_df_clean = ratings_df_removed.copy(deep=True)
for group in ['males', 'females']:
    columns_to_sum = [column
        for column in ratings_df_clean.columns
             if (column.startswith(group)) and ('avg' not in column)]
    ratings_df_clean[group] = ratings_df_clean[columns_to_sum].sum(axis=1)
    
    columns_to_drop = [column
        for column in ratings_df_clean.columns
             if (column.startswith(group)) and ('avg' in column)] + columns_to_sum
#     print(columns_to_drop)
    ratings_df_clean = ratings_df_clean.drop(columns_to_drop, axis=1)

In [44]:
ratings_df_clean.columns

Index(['imdb_title_id', 'weighted_average_vote', 'total_votes', 'mean_vote',
       'median_vote', 'allgenders_0age_avg_vote', 'allgenders_0age_votes',
       'allgenders_18age_avg_vote', 'allgenders_18age_votes',
       'allgenders_30age_avg_vote', 'allgenders_30age_votes',
       'allgenders_45age_avg_vote', 'allgenders_45age_votes',
       'top1000_voters_rating', 'top1000_voters_votes', 'us_voters_rating',
       'us_voters_votes', 'non_us_voters_rating', 'non_us_voters_votes',
       'males', 'females'],
      dtype='object')

In [47]:
ratings_df_clean_index = ratings_df_clean.set_index('imdb_title_id')

In [53]:
merged_df = movies_df_removed_index_1970.merge(ratings_df_clean_index, on='imdb_title_id')

In [54]:
merged_df.head()

,original_title,year,date_published,director,actors,avg_vote,votes,usa_gross_income,worlwide_gross_income,reviews_from_users,...,allgenders_45age_avg_vote,allgenders_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes,males,females
imdb_title_id,,,,,,,,,,,,,,,,,,,,,
tt0017938,La glace à trois faces,1983,1983-03-13,Jean Epstein,"Jeanne Helbling, Suzy Pierson, Olga Day, Raymo...",7.0,759,NaN,NaN,7.0,...,6.9,206.0,6.2,77.0,6.9,184.0,7.0,411.0,1096.0,170.0
tt0035423,Kate & Leopold,2001,2002-03-01,James Mangold,"Meg Ryan, Hugh Jackman, Liev Schreiber, Brecki...",6.4,77852,47121859.0,76019048.0,341.0,...,6.4,12104.0,6.1,468.0,6.4,14831.0,6.3,38534.0,69268.0,53551.0
tt0036606,"Another Time, Another Place",1983,1983-07-15,Michael Radford,"Phyllis Logan, Giovanni Mauriello, Gianluca Fa...",6.5,252,NaN,NaN,3.0,...,6.6,138.0,6.2,30.0,6.7,53.0,6.6,125.0,322.0,54.0
tt0039442,"Habla, mudita",1973,1973-06-01,Manuel Gutiérrez Aragón,"José Luis López Vázquez, Kiti Mánver, Francisc...",6.2,128,NaN,NaN,2.0,...,5.1,56.0,4.1,15.0,6.0,3.0,5.6,75.0,151.0,47.0
tt0054724,Zombie,1971,1971-10-29,Del Tenney,"William Joyce, Heather Hewitt, Walter Coy, Dan...",3.5,1214,NaN,NaN,56.0,...,3.5,457.0,3.0,94.0,3.6,591.0,3.3,350.0,1750.0,215.0

In [55]:
merged_df.columns

Index(['original_title', 'year', 'date_published', 'director', 'actors',
       'avg_vote', 'votes', 'usa_gross_income', 'worlwide_gross_income',
       'reviews_from_users', 'reviews_from_critics', 'genre_split',
       'weighted_average_vote', 'total_votes', 'mean_vote', 'median_vote',
       'allgenders_0age_avg_vote', 'allgenders_0age_votes',
       'allgenders_18age_avg_vote', 'allgenders_18age_votes',
       'allgenders_30age_avg_vote', 'allgenders_30age_votes',
       'allgenders_45age_avg_vote', 'allgenders_45age_votes',
       'top1000_voters_rating', 'top1000_voters_votes', 'us_voters_rating',
       'us_voters_votes', 'non_us_voters_rating', 'non_us_voters_votes',
       'males', 'females'],
      dtype='object')